
<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.PNG' %}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>BLOGMANIA</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    {% comment %} fontawsome {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/owlcarousel.css' %}">
    <link rel="stylesheet" href="{% static 'js/owlcarousel.js' %}">
 
    <style>
      #custom-navbar-nav {
      display: flex;
      justify-content: space-between;
      width: 100%; 
    }
    .social-icon {
      margin-right: 25px; 
    }
</style>  
  </head>
  <body>
    <ul class="navbar " style="margin:0;">
      <a href="{% url 'homepage' %}" > <img src="{% static 'images/blogmania.JPG' %}" alt='ram'></a>
    <form class="d-flex" method="get" action="{% url 'search' %}">
        <input class="form-control me-2" type="search" placeholder="Search" name="query" aria-label="Search">
        <button class="btn btn-outline-success fa fa-search" type="submit"></button>
      </form>
    </ul>
    
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="custom-navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="{% url 'homepage' %}">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " aria-current="page" href="{% url 'aboutuspage' %}">About Us</a>
                  </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contactuspage' %}">Contacts</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Blogs
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'techpage'%}">Tech Blogs</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'nontechpage' %}">Non-tech Blogs</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homepage' %}">Latest Blogs</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'contactuspage' %}">Create Blogs</a>
                  </li>
                </ul>
            </div>
        </div>
    </nav>