{% load static %}
{% include 'blogapp/header.html' %}
    <hr>
    <h2><a href="#latestblogs"> Latest Blogs </a></h2>
    <hr>
     <div class="owl-carousel">
      {% for d in data|slice:":4" %}
      {% comment %} {% if forloop.counter <= 4 %} {% endcomment %}
        <div class="blog-item">
          <img src="{{d.img.url}}" class="card-img-top" alt="...">
            <h6>{{d.title}}</h6>
            <p>{{ d.content|safe|truncatechars_html:50}}</p>
            <a href="{% url 'blog_detail' d.id %}" class="btn btn-primary">Read More</a>
        </div>
        {% comment %} {% endif %} {% endcomment %}
        {% endfor %}
        </div>
  

<hr>
   
  
    <h2> <a href="{% url 'nontechpage' %}"> Non-Technology Blogs </a></h2>
    <hr>
    {% comment %} card secoond  {% endcomment %}


   
    <div class="card-deck" id="nontechnology">
      {% for d in nontech %}
      <div class="card">
        <img src="{{d.img.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{d.title}}</h5>
          <p class="card-text">{{d.content | safe | truncatechars_html:300 }}</p>
          <a href="{% url 'blog_detail' d.id %}" class="btn btn-primary">Read More</a>
         
        </div>
        <div class="card-footer">
          <small class="text-muted">{{d.date_time}}</small>
        </div>
      </div>
      {% endfor %}
    </div>


    
    {% comment %} final cards  {% endcomment %}


    <div class="row" id="technology">
      <hr>
    <h1> <a href="{% url 'techpage'%}">Technology Blogs </a></h1>
    <hr>
      {% for td in techd %}
      <div class="col-sm-6"> 
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{td.title}}</h5>
            {% if td.img %}
            <img src="{{td.img.url}}" class="card-img-top" alt="...">
            {% endif %}
            <p class="card-text">{{td.content|safe|truncatechars_html:100}}</p>
            <a href="{% url 'blog_detail' td.id %}" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
   <hr>
   {% include 'blogapp/footer.html' %}